@import "./_variables.scss";

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin custom-scrollbar {
    scrollbar-color: $primary-light $transp;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: $scrollbar-size;
        height: $scrollbar-size;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $scrollbar-size;
        background: $primary-light;
    }
    &::-webkit-scrollbar-track {
        background: none;
        margin: $scrollbar-size;
    }
}

@mixin border-label {
    padding: 10px;
    margin: 10px;
    border: 2px solid $secondary;

    & > label {
        position: absolute;
        top: -1px;
        left: 20px;
    }

    & > * {
        border: none;
    }

}

@mixin circle-button($c1, $c2, $c3, $size: 33px) {
    button {
        border: $size / 10 solid $c1;
        background-color: $c2;
        color: $c3;
        border-radius: 50%;
        margin: $size / 10;
        width: $size;
        height: $size;
        font-family: $paragraph-font;
        cursor: pointer;
    }
}

@mixin circle-anchor($c1, $c2, $c3, $size: 33px) {
    border: ($size / 10) solid $c1;
    background-color: $c2;
    color: $c3;
    border-radius: 50%;
    margin: $size / 5;
    width: $size;
    height: $size;
    font-family: $paragraph-font;

    &:visited {
        color: $c3;
    }
}

@mixin neon($color, $strength: 5px) {
    text-shadow: 0 0 $strength $color;
    transition: text-shadow 250ms ease-in;
    @include flicker-effect($color, $strength);
}

@mixin gentle-gradient($color, $theta: 135deg, $hover-effect: false) {
    background: linear-gradient($theta, $color 0%, adjust-hue($color, -10deg) 100%);
    @if $hover-effect {
        transition: background 1s cubic-bezier(1, 0, 0, 1);
        &:hover {
            background: linear-gradient($theta + 180deg, $color 0%, adjust-hue($color, -10deg) 100%);
        }
    }
}

@mixin chrome-text($font-size) {
    font-weight: 900;
    font-size: $font-size;
    background-image: linear-gradient(#2989cc 0%, #d3e5ec 50%, #592451 51%, #b3628d 55%, #592451 59%, #b3628d 65%, #ac86a6 75%, #b3628d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
    position: relative;
    
    &::before {
        content: attr(data-text);
        text-shadow:
            -1px -1px 1px #2989cc,
            -2px -2px 1px #2989cc,
            -3px -3px 1px #2989cc,
            1px 1px 1px #000,
            0px -1px 2px #000,
            -1px -2px 2px #000,
            0 0 5px rgba(255, 255, 255, 1); 
        opacity: 1;
        position: absolute;
        z-index: -1;
    }
}

@mixin flicker-effect($color, $strength) {

    @keyframes flicker {
        0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
            opacity: 0.99;
            text-shadow: 0 0 $strength $color;
        }
        20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
            opacity: 0.90;
            text-shadow: none;
        }
    }

    animation: 3s ease-in-out flicker infinite;
}

@mixin sheen() {
    $shine-delay: 0s;

    @keyframes shine {
        0% {
            background-position: 0% 51%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 51%
        }
    }

    &::after {
        content: attr(data-text);
        background-image: linear-gradient(225deg, transparent 53%, white 55%, transparent 58%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-clip: text;
        z-index: 999;
        background-size: 400% 400%;
        animation: shine 10s ease infinite;
        animation-delay: $shine-delay;
    }
}

@mixin seamless-background($img-url, $op: 0.6, $spd: 60s) {
    background: url(#{$img-url}) repeat;
    position: absolute;
    opacity: $op;
    animation:
        sway-x ($spd / 1.2) infinite,
        sway-y ($spd / 2) infinite,
        sway-z ($spd / 1) infinite;

    @keyframes sway-x {
        0% { background-position-x: 0%; }
        50% { background-position-x: 33%; }
    }
    @keyframes sway-y {
        0% { background-position-y: 0%; }
        50% { background-position-y: 33%; }
    }
    @keyframes sway-z {
        0% { background-size: 50%; }
        25% { background-size: 55%; }
        50% { background-size: 50%; }
        75% { background-size: 45%; }
    }
}