@import "./_variables.scss";

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: $scrollbar-size;
        height: $scrollbar-size;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $scrollbar-size;
        background: $primary-light;
    }
    &::-webkit-scrollbar-track {
        background: none;
        margin: $scrollbar-size;
    }
}

@mixin border-label {
    padding: 10px;
    margin: 10px;
    border: 2px solid $secondary;

    & > label {
        position: absolute;
        top: -1px;
        left: 20px;
    }

    & > * {
        border: none;
    }

}

@mixin circle-button($c1, $c2, $c3, $size: 33px) {
    button {
        border: $size / 10 solid $c1;
        background-color: $c2;
        color: $c3;
        border-radius: 50%;
        margin: $size / 10;
        width: $size;
        height: $size;
        font-family: $paragraph-font;
    }
}

@mixin gentle-gradient($color, $theta: 135deg) {
    background: linear-gradient($theta, $color 0%, adjust-hue($color, -10deg) 100%);
}