// Colors
$primary: #ACF1FF;
$primary-light: #C4F5FF;
$primary-dark: #66A6B3;
$secondary: #FFD2AB;
$secondary-dark: #FFD2AB;
$off-white: #FFD2AB;
$off-black: #3E3F41;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

// Other
$scrollbar-size: 1em;