// Colors
$primary: #5C2686;
$primary-light: #FF1690;
$primary-dark: #1C0658;
$secondary: #36CDC4;
$tertiary: #C1F6E5;
$highlight: #F4D676;
$off-white: #F9F9F9;
$off-black: #302222;
$transp: rgba(0, 0, 0, 0);

// Type
$paragraph-font: 'Exo 2', sans-serif;
$heading-font: 'Caveat', cursive;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

// Other
$scrollbar-size: 10px;