// Colors
$primary: #90E7FF;
$primary-light: #D2F3FC;
$primary-dark: #2794B3;
$secondary: #FAA757;
$secondary-dark: #B85A00;
$off-white: #F9F9F9;
$off-black: #302222;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

// Other
$scrollbar-size: 1em;