// Dependencies
@import url('https://fonts.googleapis.com/css?family=Caveat|Exo+2&display=swap');

// Modules
@import "./components/_TheHeader.scss";
@import "./components/_Home.scss";
@import "./components/_Map.scss";
@import "./components/_Profile.scss";
@import "./components/_Signinup.scss";
@import "./components/_Editor.scss";
@import "./components/_Settings.scss";
@import "./components/_Comment.scss";
@import "./components/_TheFooter.scss";
@import "./components/_Notification.scss";

// Mixins and Variables
@import "./_mixins.scss";
@import "./_variables.scss";

// Entry Styles
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: $paragraph-font;
    
    &::selection {
        background: $highlight;
    }
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;

    .the-content {
        flex: 1;
        background-color: $off-white;
    }
}