@import url("https://fonts.googleapis.com/css?family=Caveat|Exo+2&display=swap");
.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  background: linear-gradient(135deg, #1C0658 0%, #0e0658 100%);
}

.navbar .container .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  text-decoration: none;
  margin: 0 0 0 2em;
}

@media (max-width: 1024px) {
  .navbar .container .navbar-brand {
    margin: 0;
  }
}

.navbar .container .navbar-brand .brand-text {
  color: #F9F9F9;
  font-family: "Caveat", cursive;
  font-size: 2.25em;
}

.navbar .container .navbar-brand .brand-text:hover {
  text-shadow: 0 0 5px #FF1690;
  -webkit-transition: text-shadow 250ms ease-in;
  transition: text-shadow 250ms ease-in;
  -webkit-animation: 3s ease-in-out flicker infinite;
          animation: 3s ease-in-out flicker infinite;
}

@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: 0 0 5px #FF1690;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.90;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: 0 0 5px #FF1690;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.90;
    text-shadow: none;
  }
}

@media (max-width: 1024px) {
  .navbar .container .navbar-brand .brand-text {
    display: none;
  }
}

.navbar .container .navbar-brand .logo {
  height: 42px;
}

@media (max-width: 1024px) {
  .navbar .container .navbar-brand .logo {
    height: 69px;
    padding: 18px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar .container .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navbar .container .navbar-nav .nav-item {
  float: left;
}

.navbar .container .navbar-nav .nav-item .nav-link {
  height: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #F9F9F9;
  padding: 15px;
  -webkit-transition: text-shadow 250ms ease-in;
  transition: text-shadow 250ms ease-in;
}

.navbar .container .navbar-nav .nav-item .nav-link:hover {
  text-shadow: 0 0 5px #FF1690;
}

@media (max-width: 1024px) {
  .navbar .container .navbar-nav .nav-item .nav-link {
    padding: 5px;
  }
}

.navbar .container .navbar-nav .nav-item .active {
  color: #F4D676;
  -webkit-box-shadow: inset 0 5px #FF1690;
          box-shadow: inset 0 5px #FF1690;
}

.navbar .container .navbar-nav .nav-item .active:hover {
  text-shadow: none;
}

.home-page {
  color: #F9F9F9;
  width: 100%;
  background: linear-gradient(135deg, #5C2686 0%, #4c2686 100%);
}

.home-page .splash {
  text-align: center;
  padding: 20px;
}

.home-page .splash .logo {
  width: 200px;
  vertical-align: bottom;
}

.home-page .splash .title {
  display: inline-block;
  font-family: "Caveat", cursive;
  font-size: 10em;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 20px #36CDC4;
  -webkit-transition: text-shadow 250ms ease-in;
  transition: text-shadow 250ms ease-in;
  -webkit-animation: 3s ease-in-out flicker infinite;
          animation: 3s ease-in-out flicker infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: 0 0 20px #36CDC4;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.90;
    text-shadow: none;
  }
}

@media (max-width: 1024px) {
  .home-page .splash .title {
    font-size: 7em;
  }
}

.home-page .home-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .home-info .about {
  width: 50vw;
  font-size: 2em;
  text-align: justify;
  border: 0.33em solid #F9F9F9;
  padding: 0.67em;
  border-radius: 2em;
  -webkit-box-shadow: 0 0 20px #FF1690, inset 0 0 20px #FF1690;
          box-shadow: 0 0 20px #FF1690, inset 0 0 20px #FF1690;
}

@media (max-width: 1024px) {
  .home-page .home-info .about {
    font-size: 1em;
  }
}

.map-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1024px) {
  .map-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.map-content .map-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.map-content .article-page {
  z-index: 400;
  position: absolute;
  right: 20px;
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
  width: calc(100vw / 3);
  height: calc(100vh * 4 / 5);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #5C2686;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 5px #302222;
          box-shadow: 5px 5px 5px #302222;
  color: #F9F9F9;
  background: -webkit-gradient(linear, left bottom, left top, from(#1C0658), to(#0e0658));
  background: linear-gradient(0deg, #1C0658 0%, #0e0658 100%);
}

.map-content .article-page::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.map-content .article-page::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #FF1690;
}

.map-content .article-page::-webkit-scrollbar-track {
  background: none;
  margin: 10px;
}

@media (max-width: 1024px) {
  .map-content .article-page {
    right: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: calc(100vh / 2);
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.map-content .article-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.map-content .article-page .header .article-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.map-content .article-page .header .article-info .article-title {
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  text-shadow: 0 0 20px #FF1690;
  -webkit-transition: text-shadow 250ms ease-in;
  transition: text-shadow 250ms ease-in;
  -webkit-animation: 3s ease-in-out flicker infinite;
          animation: 3s ease-in-out flicker infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: 0 0 20px #FF1690;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.90;
    text-shadow: none;
  }
}

.map-content .article-page .header .article-info .article-author a {
  color: #F9F9F9;
}

.map-content .article-page .header .article-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.map-content .article-page .header .article-menu button {
  border: 3.3px solid #FF1690;
  background-color: rgba(0, 0, 0, 0);
  color: #F4D676;
  border-radius: 50%;
  margin: 3.3px;
  width: 33px;
  height: 33px;
  font-family: "Exo 2", sans-serif;
}

.map-content .article-page .signin-warning a {
  color: #F4D676;
}

.map-content .article-page .article-tags .tag-list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.map-content .article-page .article-tags .tag-list .tag-pill {
  display: inline-block;
  padding: 2px 10px 2px 10px;
  margin: 0px 3px 0px 3px;
  border-radius: 1em;
  background-color: #F4D676;
  color: #1C0658;
  background: linear-gradient(135deg, #F4D676 0%, #f4c176 100%);
}

.map-content .article-page .network-info button {
  border: 3.3px solid #36CDC4;
  background-color: rgba(0, 0, 0, 0);
  color: #FF1690;
  border-radius: 50%;
  margin: 3.3px;
  width: 33px;
  height: 33px;
  font-family: "Exo 2", sans-serif;
}

.map-content .article-page .secret-section .secret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FF1690;
  color: #F9F9F9;
  border-radius: 2em;
  padding: 20px;
  margin: 5px 0 5px 0;
  background: linear-gradient(135deg, #FF1690 0%, #ff16b7 100%);
}

.map-content .article-page .secret-section .secret .error-messages {
  margin: 0;
}

.map-content .article-page .secret-section .secret .header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.map-content .article-page .secret-section .secret .header .secret-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 10px 0;
}

.map-content .article-page .secret-section .secret .header .secret-info .secret-value {
  font-size: 1.5em;
  border-left: 5px solid #5C2686;
  padding: 0 0 5px 5px;
}

.map-content .article-page .secret-section .secret .header .secret-copy-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-content .article-page .secret-section .secret .header .secret-copy-container button {
  border: 3.3px solid #36CDC4;
  background-color: rgba(0, 0, 0, 0);
  color: #1C0658;
  border-radius: 50%;
  margin: 3.3px;
  width: 33px;
  height: 33px;
  font-family: "Exo 2", sans-serif;
}

.map-content .article-page .secret-section .secret .secret-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-content .article-page .secret-section .secret .secret-options button {
  border: 4.4px solid #F4D676;
  background-color: #5C2686;
  color: #36CDC4;
  border-radius: 50%;
  margin: 4.4px;
  width: 44px;
  height: 44px;
  font-family: "Exo 2", sans-serif;
}

.map-content .article-page .secret-section .secret .secret-options .secret-score {
  margin: 0 10px 0 10px;
  font-size: 2em;
}

.map-content .article-page .secret-section .secret .secret-input .VuePassword__Input {
  font-family: "Exo 2", sans-serif;
  background-color: #F4D676;
  color: #1C0658;
  border-radius: 2em;
  border: none;
  padding: 5px 20px 5px 20px;
  background: linear-gradient(135deg, #F4D676 0%, #f4c176 100%);
}

.map-content .article-page .secret-section .secret .secret-submit {
  background-color: #36CDC4;
  color: #1C0658;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  background: linear-gradient(135deg, #36CDC4 0%, #36cdab 100%);
}

.profile-page {
  padding: 1em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: linear-gradient(135deg, #36CDC4 0%, #36cdab 100%);
}

@media (max-width: 1024px) {
  .profile-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile-page .profile-panel {
  border-radius: 2em;
  max-width: 410px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 0.5em solid #5C2686;
  margin: 2em;
  padding: 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(#36CDC4), to(#36cdab));
  background: linear-gradient(180deg, #36CDC4 0%, #36cdab 100%);
}

@media (max-width: 1024px) {
  .profile-page .profile-panel {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }
}

.profile-page .profile-panel .profile-info {
  text-align: center;
}

.profile-page .profile-panel .profile-info .user-img {
  border-radius: 50%;
  width: 200px;
}

.profile-page .profile-panel .profile-info .score-circle {
  z-index: 10;
  position: relative;
  bottom: 20px;
  right: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
  border: 5px solid #36CDC4;
  background: linear-gradient(135deg, #F4D676 0%, #f4c176 100%);
}

.profile-page .profile-panel .locations-toggle {
  text-align: center;
}

.profile-page .profile-panel .locations-toggle .nav {
  list-style-type: none;
  padding: 0;
}

.profile-page .profile-panel .locations-toggle .nav .nav-item {
  display: inline-block;
  margin: 0 5px 0 5px;
}

.profile-page .profile-panel .locations-toggle .nav .nav-item .nav-link {
  color: #F9F9F9;
  border-radius: 2em;
  padding: 7px;
  text-decoration: none;
  line-height: 3em;
  background: linear-gradient(135deg, #1C0658 0%, #0e0658 100%);
}

.profile-page .profile-panel .locations-toggle .nav .nav-item .active {
  padding: 10px;
  text-decoration: underline;
  background: linear-gradient(135deg, #FF1690 0%, #ff16b7 100%);
}

.profile-page .article-list {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.profile-page .article-list .article-preview {
  display: inline-block;
  text-align: left;
  width: 400px;
  height: 200px;
  overflow: hidden;
  margin: 15px;
  padding: 20px;
  border-radius: 2em;
  border: 2px solid #5C2686;
  background: -webkit-gradient(linear, left bottom, left top, from(#36CDC4), to(#36cdab));
  background: linear-gradient(0deg, #36CDC4 0%, #36cdab 100%);
}

@media (max-width: 1024px) {
  .profile-page .article-list .article-preview {
    width: 66.66667%;
  }
}

.profile-page .article-list .article-preview .article-heading {
  border-left: 5px solid #FF1690;
  padding: 0 0 0 10px;
}

.profile-page .article-list .article-preview .article-heading .preview-link {
  color: #1C0658;
  text-decoration: none;
}

.profile-page .article-list .article-preview .article-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-page .article-list .article-preview .article-meta button {
  border: 4.5px solid #1C0658;
  background-color: rgba(0, 0, 0, 0);
  color: #5C2686;
  border-radius: 50%;
  margin: 4.5px;
  width: 45px;
  height: 45px;
  font-family: "Exo 2", sans-serif;
}

.profile-page .article-list .article-preview .article-meta .author-image {
  border-radius: 50%;
  width: 50px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.pagination .page-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px 0 5px;
  text-decoration: none;
  border: 3.3px solid #1C0658;
  background-color: rgba(0, 0, 0, 0);
  color: #FF1690;
  border-radius: 50%;
  margin: 6.6px;
  width: 33px;
  height: 33px;
  font-family: "Exo 2", sans-serif;
}

.pagination .page-item:visited {
  color: #FF1690;
}

.pagination .active {
  border: 4.5px solid #FF1690;
  background-color: rgba(0, 0, 0, 0);
  color: #5C2686;
  border-radius: 50%;
  margin: 9px;
  width: 45px;
  height: 45px;
  font-family: "Exo 2", sans-serif;
}

.pagination .active:visited {
  color: #5C2686;
}

.auth-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(135deg, #F9F9F9 0%, #f9f9f9 100%);
}

.auth-page .auth-form {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 5px solid #F9F9F9;
  border-radius: 2em;
  padding: 2em;
  -webkit-box-shadow: 0 0 10px #FF1690, inset 0 0 10px #FF1690;
          box-shadow: 0 0 10px #FF1690, inset 0 0 10px #FF1690;
}

.auth-page .auth-form .auth-title {
  margin: 0;
}

.auth-page .auth-form .auth-submit {
  border: 5px solid #F9F9F9;
  border-radius: 2em;
  padding: 10px;
  margin-top: 7px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #36CDC4, inset 0 0 10px #36CDC4;
          box-shadow: 0 0 10px #36CDC4, inset 0 0 10px #36CDC4;
}

.auth-page .auth-form .form-control {
  border: 1px solid #5C2686;
  border-radius: 2em;
  padding: 7px;
  margin: 3px;
}

.editor-page {
  color: #F9F9F9;
  text-align: center;
  vertical-align: center;
  background: linear-gradient(135deg, #5C2686 0%, #4c2686 100%);
}

.editor-page form, .editor-page form > fieldset {
  border: none;
}

.editor-page .meta-map-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1024px) {
  .editor-page .meta-map-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.editor-page .meta-info-container .meta-info .title-label {
  margin: 0;
}

.editor-page .meta-info-container .meta-info .title-input {
  border: 3px solid #FF1690;
  color: #F4D676;
  font-size: 2em;
  text-align: center;
  border-radius: 2em;
  padding: 0.5em;
  background: linear-gradient(135deg, #1C0658 0%, #0e0658 100%);
}

.editor-page .form-group {
  border: none;
}

.editor-page .location-metadata {
  text-align: left;
  display: inline-block;
  border: 2px solid #36CDC4;
  padding: 1em;
  margin: 0 1em 0 0;
  border-radius: 2em;
  background: linear-gradient(135deg, #5C2686 0%, #4c2686 100%);
}

@media (max-width: 1024px) {
  .editor-page .location-metadata {
    margin: 0 0 1em 0;
  }
}

.editor-page .location-metadata .required-metadata {
  display: inline-block;
}

.editor-page .location-metadata .required-metadata .description-label, .editor-page .location-metadata .required-metadata .network-label, .editor-page .location-metadata .required-metadata .tags-label {
  margin-left: 0.75em;
}

.editor-page .location-metadata .required-metadata .description-input, .editor-page .location-metadata .required-metadata .network-input {
  border: 3px solid #FF1690;
  color: #F4D676;
  border-radius: 2em;
  padding: 0.5em;
  margin: 0.5em;
  background: linear-gradient(135deg, #1C0658 0%, #0e0658 100%);
}

.editor-page .location-metadata .tags-input-container {
  vertical-align: top;
  display: inline-block;
}

.editor-page .location-metadata .tags-input-container .tag-list {
  list-style-type: none;
  padding: 0;
}

.editor-page .location-metadata .tags-input-container .tag-list .tag-pill {
  border-radius: 2em;
  border: 3px solid #F4D676;
  padding: 10px;
  margin: 2px;
  background: linear-gradient(135deg, #1C0658 0%, #0e0658 100%);
}

.editor-page .location-metadata .tags-input-container .tag-list .tag-pill input {
  background: none;
  border: none;
  color: #F4D676;
}

.editor-page .location-metadata .tags-input-container .tag-list .add-tag {
  margin-top: 10px;
  text-align: center;
  color: #FF1690;
  border: 3px solid #36CDC4;
  background: -webkit-gradient(linear, left top, left bottom, from(true), color-stop(0%, #1C0658), to(#0e0658));
  background: linear-gradient(true, #1C0658 0%, #0e0658 100%);
}

.editor-page .map-input-container {
  border: 2px solid #36CDC4;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  border-radius: 2em;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .editor-page .map-input-container {
    height: 50vh;
  }
}

.editor-page .publish-button {
  background: none;
  border: none;
  font-size: 1.25em;
  border-radius: 2em;
  padding: 20px;
  border: 2px solid #36CDC4;
  margin: 1em;
  background-color: #1C0658;
  color: #F4D676;
}

form, fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.settings-page {
  background: linear-gradient(135deg, #F4D676 0%, #f4c176 100%);
}

.settings-page .settings-title {
  text-align: center;
}

.settings-page .visible-img-input, .settings-page button {
  color: #F9F9F9;
  border: 1px solid #1C0658;
  display: inline-block;
  border-radius: 2em;
  padding: 6px 12px;
  margin: 12px;
  cursor: pointer;
  background: linear-gradient(135deg, #FF1690 0%, #ff16b7 100%);
}

.settings-page fieldset {
  text-align: center;
}

.settings-page fieldset .form-group {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin: 12px;
}

.settings-page fieldset .visible-img-input {
  color: #5C2686;
  background: linear-gradient(135deg, #F4D676 0%, #f4c176 100%);
}

.settings-page fieldset .username-input, .settings-page fieldset .bio-input, .settings-page fieldset .email-input, .settings-page fieldset .password-input {
  border: 1px solid #1C0658;
  border-radius: 2em;
  padding: 12px;
  background-color: #F9F9F9;
}

.settings-page fieldset .img-form, .settings-page fieldset .bio-preview {
  border: 2px solid #1C0658;
  border-radius: 2em;
  padding: 0.75em;
  text-align: center;
  max-width: 410px;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#36CDC4), to(#36cdab));
  background: linear-gradient(180deg, #36CDC4 0%, #36cdab 100%);
}

.settings-page fieldset .img-form .img-preview, .settings-page fieldset .bio-preview .img-preview {
  border-radius: 50%;
}

.settings-page fieldset .img-form .img-input, .settings-page fieldset .bio-preview .img-input {
  display: none;
}

@-webkit-keyframes rainbow {
  0% {
    color: cyan;
    background-color: red;
  }
  1% {
    color: #00f0ff;
    background-color: #ff0f00;
  }
  2% {
    color: #00e0ff;
    background-color: #ff1f00;
  }
  3% {
    color: #00d1ff;
    background-color: #ff2e00;
  }
  4% {
    color: #00c2ff;
    background-color: #ff3d00;
  }
  5% {
    color: #00b3ff;
    background-color: #ff4d00;
  }
  6% {
    color: #00a3ff;
    background-color: #ff5c00;
  }
  7% {
    color: #0094ff;
    background-color: #ff6b00;
  }
  8% {
    color: #0085ff;
    background-color: #ff7a00;
  }
  9% {
    color: #0075ff;
    background-color: #ff8a00;
  }
  10% {
    color: #0066ff;
    background-color: #ff9900;
  }
  11% {
    color: #0057ff;
    background-color: #ffa800;
  }
  12% {
    color: #0047ff;
    background-color: #ffb800;
  }
  13% {
    color: #0038ff;
    background-color: #ffc700;
  }
  14% {
    color: #0029ff;
    background-color: #ffd600;
  }
  15% {
    color: #001aff;
    background-color: #ffe600;
  }
  16% {
    color: #000aff;
    background-color: #fff500;
  }
  17% {
    color: #0500ff;
    background-color: #faff00;
  }
  18% {
    color: #1400ff;
    background-color: #ebff00;
  }
  19% {
    color: #2400ff;
    background-color: #dbff00;
  }
  20% {
    color: #3300ff;
    background-color: #ccff00;
  }
  21% {
    color: #4200ff;
    background-color: #bdff00;
  }
  22% {
    color: #5200ff;
    background-color: #adff00;
  }
  23% {
    color: #6100ff;
    background-color: #9eff00;
  }
  24% {
    color: #7000ff;
    background-color: #8fff00;
  }
  25% {
    color: #8000ff;
    background-color: #80ff00;
  }
  26% {
    color: #8f00ff;
    background-color: #70ff00;
  }
  27% {
    color: #9e00ff;
    background-color: #61ff00;
  }
  28% {
    color: #ad00ff;
    background-color: #52ff00;
  }
  29% {
    color: #bd00ff;
    background-color: #42ff00;
  }
  30% {
    color: #cc00ff;
    background-color: #33ff00;
  }
  31% {
    color: #db00ff;
    background-color: #24ff00;
  }
  32% {
    color: #eb00ff;
    background-color: #14ff00;
  }
  33% {
    color: #fa00ff;
    background-color: #05ff00;
  }
  34% {
    color: #ff00f5;
    background-color: #00ff0a;
  }
  35% {
    color: #ff00e6;
    background-color: #00ff1a;
  }
  36% {
    color: #ff00d6;
    background-color: #00ff29;
  }
  37% {
    color: #ff00c7;
    background-color: #00ff38;
  }
  38% {
    color: #ff00b8;
    background-color: #00ff47;
  }
  39% {
    color: #ff00a8;
    background-color: #00ff57;
  }
  40% {
    color: #ff0099;
    background-color: #00ff66;
  }
  41% {
    color: #ff008a;
    background-color: #00ff75;
  }
  42% {
    color: #ff007a;
    background-color: #00ff85;
  }
  43% {
    color: #ff006b;
    background-color: #00ff94;
  }
  44% {
    color: #ff005c;
    background-color: #00ffa3;
  }
  45% {
    color: #ff004d;
    background-color: #00ffb3;
  }
  46% {
    color: #ff003d;
    background-color: #00ffc2;
  }
  47% {
    color: #ff002e;
    background-color: #00ffd1;
  }
  48% {
    color: #ff001f;
    background-color: #00ffe0;
  }
  49% {
    color: #ff000f;
    background-color: #00fff0;
  }
  50% {
    color: red;
    background-color: cyan;
  }
  51% {
    color: #ff0f00;
    background-color: #00f0ff;
  }
  52% {
    color: #ff1f00;
    background-color: #00e0ff;
  }
  53% {
    color: #ff2e00;
    background-color: #00d1ff;
  }
  54% {
    color: #ff3d00;
    background-color: #00c2ff;
  }
  55% {
    color: #ff4d00;
    background-color: #00b3ff;
  }
  56% {
    color: #ff5c00;
    background-color: #00a3ff;
  }
  57% {
    color: #ff6b00;
    background-color: #0094ff;
  }
  58% {
    color: #ff7a00;
    background-color: #0085ff;
  }
  59% {
    color: #ff8a00;
    background-color: #0075ff;
  }
  60% {
    color: #ff9900;
    background-color: #0066ff;
  }
  61% {
    color: #ffa800;
    background-color: #0057ff;
  }
  62% {
    color: #ffb800;
    background-color: #0047ff;
  }
  63% {
    color: #ffc700;
    background-color: #0038ff;
  }
  64% {
    color: #ffd600;
    background-color: #0029ff;
  }
  65% {
    color: #ffe600;
    background-color: #001aff;
  }
  66% {
    color: #fff500;
    background-color: #000aff;
  }
  67% {
    color: #faff00;
    background-color: #0500ff;
  }
  68% {
    color: #ebff00;
    background-color: #1400ff;
  }
  69% {
    color: #dbff00;
    background-color: #2400ff;
  }
  70% {
    color: #ccff00;
    background-color: #3300ff;
  }
  71% {
    color: #bdff00;
    background-color: #4200ff;
  }
  72% {
    color: #adff00;
    background-color: #5200ff;
  }
  73% {
    color: #9eff00;
    background-color: #6100ff;
  }
  74% {
    color: #8fff00;
    background-color: #7000ff;
  }
  75% {
    color: #80ff00;
    background-color: #8000ff;
  }
  76% {
    color: #70ff00;
    background-color: #8f00ff;
  }
  77% {
    color: #61ff00;
    background-color: #9e00ff;
  }
  78% {
    color: #52ff00;
    background-color: #ad00ff;
  }
  79% {
    color: #42ff00;
    background-color: #bd00ff;
  }
  80% {
    color: #33ff00;
    background-color: #cc00ff;
  }
  81% {
    color: #24ff00;
    background-color: #db00ff;
  }
  82% {
    color: #14ff00;
    background-color: #eb00ff;
  }
  83% {
    color: #05ff00;
    background-color: #fa00ff;
  }
  84% {
    color: #00ff0a;
    background-color: #ff00f5;
  }
  85% {
    color: #00ff1a;
    background-color: #ff00e6;
  }
  86% {
    color: #00ff29;
    background-color: #ff00d6;
  }
  87% {
    color: #00ff38;
    background-color: #ff00c7;
  }
  88% {
    color: #00ff47;
    background-color: #ff00b8;
  }
  89% {
    color: #00ff57;
    background-color: #ff00a8;
  }
  90% {
    color: #00ff66;
    background-color: #ff0099;
  }
  91% {
    color: #00ff75;
    background-color: #ff008a;
  }
  92% {
    color: #00ff85;
    background-color: #ff007a;
  }
  93% {
    color: #00ff94;
    background-color: #ff006b;
  }
  94% {
    color: #00ffa3;
    background-color: #ff005c;
  }
  95% {
    color: #00ffb3;
    background-color: #ff004d;
  }
  96% {
    color: #00ffc2;
    background-color: #ff003d;
  }
  97% {
    color: #00ffd1;
    background-color: #ff002e;
  }
  98% {
    color: #00ffe0;
    background-color: #ff001f;
  }
  99% {
    color: #00fff0;
    background-color: #ff000f;
  }
  100% {
    color: cyan;
    background-color: red;
  }
}

@keyframes rainbow {
  0% {
    color: cyan;
    background-color: red;
  }
  1% {
    color: #00f0ff;
    background-color: #ff0f00;
  }
  2% {
    color: #00e0ff;
    background-color: #ff1f00;
  }
  3% {
    color: #00d1ff;
    background-color: #ff2e00;
  }
  4% {
    color: #00c2ff;
    background-color: #ff3d00;
  }
  5% {
    color: #00b3ff;
    background-color: #ff4d00;
  }
  6% {
    color: #00a3ff;
    background-color: #ff5c00;
  }
  7% {
    color: #0094ff;
    background-color: #ff6b00;
  }
  8% {
    color: #0085ff;
    background-color: #ff7a00;
  }
  9% {
    color: #0075ff;
    background-color: #ff8a00;
  }
  10% {
    color: #0066ff;
    background-color: #ff9900;
  }
  11% {
    color: #0057ff;
    background-color: #ffa800;
  }
  12% {
    color: #0047ff;
    background-color: #ffb800;
  }
  13% {
    color: #0038ff;
    background-color: #ffc700;
  }
  14% {
    color: #0029ff;
    background-color: #ffd600;
  }
  15% {
    color: #001aff;
    background-color: #ffe600;
  }
  16% {
    color: #000aff;
    background-color: #fff500;
  }
  17% {
    color: #0500ff;
    background-color: #faff00;
  }
  18% {
    color: #1400ff;
    background-color: #ebff00;
  }
  19% {
    color: #2400ff;
    background-color: #dbff00;
  }
  20% {
    color: #3300ff;
    background-color: #ccff00;
  }
  21% {
    color: #4200ff;
    background-color: #bdff00;
  }
  22% {
    color: #5200ff;
    background-color: #adff00;
  }
  23% {
    color: #6100ff;
    background-color: #9eff00;
  }
  24% {
    color: #7000ff;
    background-color: #8fff00;
  }
  25% {
    color: #8000ff;
    background-color: #80ff00;
  }
  26% {
    color: #8f00ff;
    background-color: #70ff00;
  }
  27% {
    color: #9e00ff;
    background-color: #61ff00;
  }
  28% {
    color: #ad00ff;
    background-color: #52ff00;
  }
  29% {
    color: #bd00ff;
    background-color: #42ff00;
  }
  30% {
    color: #cc00ff;
    background-color: #33ff00;
  }
  31% {
    color: #db00ff;
    background-color: #24ff00;
  }
  32% {
    color: #eb00ff;
    background-color: #14ff00;
  }
  33% {
    color: #fa00ff;
    background-color: #05ff00;
  }
  34% {
    color: #ff00f5;
    background-color: #00ff0a;
  }
  35% {
    color: #ff00e6;
    background-color: #00ff1a;
  }
  36% {
    color: #ff00d6;
    background-color: #00ff29;
  }
  37% {
    color: #ff00c7;
    background-color: #00ff38;
  }
  38% {
    color: #ff00b8;
    background-color: #00ff47;
  }
  39% {
    color: #ff00a8;
    background-color: #00ff57;
  }
  40% {
    color: #ff0099;
    background-color: #00ff66;
  }
  41% {
    color: #ff008a;
    background-color: #00ff75;
  }
  42% {
    color: #ff007a;
    background-color: #00ff85;
  }
  43% {
    color: #ff006b;
    background-color: #00ff94;
  }
  44% {
    color: #ff005c;
    background-color: #00ffa3;
  }
  45% {
    color: #ff004d;
    background-color: #00ffb3;
  }
  46% {
    color: #ff003d;
    background-color: #00ffc2;
  }
  47% {
    color: #ff002e;
    background-color: #00ffd1;
  }
  48% {
    color: #ff001f;
    background-color: #00ffe0;
  }
  49% {
    color: #ff000f;
    background-color: #00fff0;
  }
  50% {
    color: red;
    background-color: cyan;
  }
  51% {
    color: #ff0f00;
    background-color: #00f0ff;
  }
  52% {
    color: #ff1f00;
    background-color: #00e0ff;
  }
  53% {
    color: #ff2e00;
    background-color: #00d1ff;
  }
  54% {
    color: #ff3d00;
    background-color: #00c2ff;
  }
  55% {
    color: #ff4d00;
    background-color: #00b3ff;
  }
  56% {
    color: #ff5c00;
    background-color: #00a3ff;
  }
  57% {
    color: #ff6b00;
    background-color: #0094ff;
  }
  58% {
    color: #ff7a00;
    background-color: #0085ff;
  }
  59% {
    color: #ff8a00;
    background-color: #0075ff;
  }
  60% {
    color: #ff9900;
    background-color: #0066ff;
  }
  61% {
    color: #ffa800;
    background-color: #0057ff;
  }
  62% {
    color: #ffb800;
    background-color: #0047ff;
  }
  63% {
    color: #ffc700;
    background-color: #0038ff;
  }
  64% {
    color: #ffd600;
    background-color: #0029ff;
  }
  65% {
    color: #ffe600;
    background-color: #001aff;
  }
  66% {
    color: #fff500;
    background-color: #000aff;
  }
  67% {
    color: #faff00;
    background-color: #0500ff;
  }
  68% {
    color: #ebff00;
    background-color: #1400ff;
  }
  69% {
    color: #dbff00;
    background-color: #2400ff;
  }
  70% {
    color: #ccff00;
    background-color: #3300ff;
  }
  71% {
    color: #bdff00;
    background-color: #4200ff;
  }
  72% {
    color: #adff00;
    background-color: #5200ff;
  }
  73% {
    color: #9eff00;
    background-color: #6100ff;
  }
  74% {
    color: #8fff00;
    background-color: #7000ff;
  }
  75% {
    color: #80ff00;
    background-color: #8000ff;
  }
  76% {
    color: #70ff00;
    background-color: #8f00ff;
  }
  77% {
    color: #61ff00;
    background-color: #9e00ff;
  }
  78% {
    color: #52ff00;
    background-color: #ad00ff;
  }
  79% {
    color: #42ff00;
    background-color: #bd00ff;
  }
  80% {
    color: #33ff00;
    background-color: #cc00ff;
  }
  81% {
    color: #24ff00;
    background-color: #db00ff;
  }
  82% {
    color: #14ff00;
    background-color: #eb00ff;
  }
  83% {
    color: #05ff00;
    background-color: #fa00ff;
  }
  84% {
    color: #00ff0a;
    background-color: #ff00f5;
  }
  85% {
    color: #00ff1a;
    background-color: #ff00e6;
  }
  86% {
    color: #00ff29;
    background-color: #ff00d6;
  }
  87% {
    color: #00ff38;
    background-color: #ff00c7;
  }
  88% {
    color: #00ff47;
    background-color: #ff00b8;
  }
  89% {
    color: #00ff57;
    background-color: #ff00a8;
  }
  90% {
    color: #00ff66;
    background-color: #ff0099;
  }
  91% {
    color: #00ff75;
    background-color: #ff008a;
  }
  92% {
    color: #00ff85;
    background-color: #ff007a;
  }
  93% {
    color: #00ff94;
    background-color: #ff006b;
  }
  94% {
    color: #00ffa3;
    background-color: #ff005c;
  }
  95% {
    color: #00ffb3;
    background-color: #ff004d;
  }
  96% {
    color: #00ffc2;
    background-color: #ff003d;
  }
  97% {
    color: #00ffd1;
    background-color: #ff002e;
  }
  98% {
    color: #00ffe0;
    background-color: #ff001f;
  }
  99% {
    color: #00fff0;
    background-color: #ff000f;
  }
  100% {
    color: cyan;
    background-color: red;
  }
}

.card {
  background-color: #36CDC4;
  border-radius: 2em;
  padding: 20px;
  margin: 5px 0 5px 0;
  color: #5C2686;
  background: linear-gradient(135deg, #36CDC4 0%, #36cdab 100%);
}

.card .card-block textarea {
  width: 80%;
  background-color: #F4D676;
  font-family: "Exo 2", sans-serif;
  color: #1C0658;
  border-radius: 2em;
  border: none;
  padding: 5px 20px 5px 20px;
  background: linear-gradient(135deg, #F4D676 0%, #f4c176 100%);
}

.card .card-block .card-text {
  border-radius: 2em;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #5C2686;
}

.card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-footer .comment-author-img {
  width: 50px;
  border-radius: 50%;
}

.card .card-footer button {
  background-color: #FF1690;
  color: #F9F9F9;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: linear-gradient(135deg, #FF1690 0%, #ff16b7 100%);
}

.the-footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  color: #F9F9F9;
  background-color: #1C0658;
}

.the-footer a {
  color: #F9F9F9;
}

.attribution {
  font-size: 1em;
}

/* According to `vue-notification` NPM package
 * https://github.com/euvl/vue-notification
 */
.vue-notification {
  padding: 10px;
  margin: 0 5px 5px;
  font-size: 12px;
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
}

.vue-notification.warn {
  background: #ffb648;
  border-left-color: #f48a06;
}

.vue-notification.error {
  background: #E54D42;
  border-left-color: #B82E24;
}

.vue-notification.success {
  background: #68CD86;
  border-left-color: #42A85F;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Exo 2", sans-serif;
}

*::-moz-selection {
  background: #F4D676;
}

*::selection {
  background: #F4D676;
}

#app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app .the-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #F9F9F9;
}
/*# sourceMappingURL=index.css.map */