// Dependencies
// @import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import url('https://fonts.googleapis.com/css?family=Caveat|Exo+2&display=swap');

// Modules
@import "./components/_TheHeader.scss";
@import "./components/_Map.scss";
@import "./components/_Comment.scss";
@import "./components/_TheFooter.scss";

// Mixins and Variables
@import "./_mixins.scss";
@import "./_variables.scss";

// Entry Styles
html, body {
    height: 100%;
    font-family: $paragraph-font;
    padding: 0;
    margin: 0;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;

    .the-content {
        flex: 1;
        background-color: $off-white;
    }
}