@import "../_variables.scss";
@import "../_mixins.scss";

.map-content {
    height: 100%;
    display: flex;
    flex-direction: row;

    @media (max-width: $desktop-width) {
        flex-direction: column;
    }

    .map-container {
        flex: 1;
    }

    .article-page {
        z-index: 400; // Enough to stay above the leaflet map tiles
        position: absolute;
        right: 20px;
        padding: 20px 10px 20px 10px;
        border-radius: 20px;
        width: calc(100vw / 3);
        height: calc(100vh * 4 / 5);
        align-self: center;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: $primary;
        background-size: cover;
        box-shadow: 5px 5px 5px $off-black;
        color: $off-white;
        @include custom-scrollbar;
        @include gentle-gradient($primary-dark, 0deg);

        @media (max-width: $desktop-width) {
            right: 0;
            padding: 0;
            position: relative;
            width: 100%;
            height: calc(100vh / 2);
            border-radius: 20px 20px 0 0;
            box-shadow: none;
        }

        .header {
            display: flex;
            flex-direction: row;

            .article-info {
                flex-direction: column;
                flex: 1;

                .article-title {
                    font-family: $heading-font;
                    font-size: 2.5em;
                    @include neon($primary-light, 20px);
                }

                .article-author a {
                    color: $off-white;
                }
            }

            .article-menu {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                padding: 1em;
                @include circle-button($primary-light, $transp, $highlight);
            }
        }

        .signin-warning a {
            color: $highlight;
        }

        .article-tags .tag-list {
            margin: 0;
            list-style-type: none;
            padding-left: 0;

            .tag-pill {
                display: inline-block;
                padding: 2px 10px 2px 10px;
                margin: 0px 3px 0px 3px;
                border-radius: 1em;
                background-color: $highlight;
                color: $primary-dark;
                @include gentle-gradient($highlight);
            }
        }

        .network-info {
            @include circle-button($secondary, $transp, $primary-light);
        }

        .secret-section {

            .secret {
                display: flex;
                flex-direction: column;
                background-color: $primary-light;
                color: $off-white;
                border-radius: 2em;
                padding: 20px;
                margin: 5px 0 5px 0;
                @include gentle-gradient($primary-light);

                .error-messages {
                    margin: 0;
                }

                .header {
                    flex-direction: row;

                    .secret-info {
                        flex: 1;
                        flex-direction: column;
                        margin: 0 0 10px 0;

                        .secret-value {
                            font-size: 1.5em;
                            border-left: 5px solid $primary;
                            padding: 0 0 5px 5px;
                        }
                    }

                    .secret-copy-container {
                        flex-direction: column;
                        @include circle-button($secondary, $transp, $primary-dark);
                    }
                }

                .secret-options {
                    display: flex;
                    align-items: center;
                    @include circle-button($highlight, $primary, $secondary, 44px);

                    .secret-score {
                        margin: 0 10px 0 10px;
                        font-size: 2em;
                    }
                }

                .secret-input .VuePassword__Input {
                    font-family: $paragraph-font;
                    background-color: $highlight;
                    color: $primary-dark;
                    border-radius: 2em;
                    border: none;
                    padding: 5px 20px 5px 20px;
                    @include gentle-gradient($highlight);
                }

                .secret-submit {
                    background-color: $secondary;
                    color: $primary-dark;
                    border: none;
                    border-radius: 5px;
                    padding: 5px;
                    margin: 2px;
                    @include gentle-gradient($secondary);
                }
            }
        }
    }
}