/* According to `mini-toastr` NPM package
 * https://github.com/se-panfilov/mini-toastr
 */

@import "../_variables.scss";
@import "../_mixins.scss";

.mini-toastr__notification {
    border-radius: 2em;
    padding: 0.5em;
    opacity: 1;
    font-family: $paragraph-font;
    
    .mini-toastr-notification__title {}
    .mini-toastr-notification__title {}
}