@import "../_variables.scss";
@import "../_mixins.scss";

.profile-page {
    padding: 1em 0 0 0;
    display: flex;
    flex: 1;
    @include gentle-gradient($secondary);

    @media (max-width: $desktop-width) {
        flex-direction: column;
    }

    .profile-panel {
        border-radius: 2em;
        height: min-content;
        border: 0.5em solid $primary;
        box-shadow: 0 0 20px 10px $highlight;
        margin: 2em;
        padding: 2em;

        @media (max-width: $desktop-width) {
            border: none;
            margin: 0;
            padding: 0;
        }

        .profile-info {
            text-align: center;
    
            .user-img {
                border-radius: 50%;
                width: 200px;
            }
        }
    
        .locations-toggle {
            text-align: center;
    
            .nav {
                list-style-type: none;
                padding: 0;
    
                .nav-item {
                    display: inline-block;
                    margin: 0 5px 0 5px;
    
                    .nav-link {
                        color: $off-white;
                        border-radius: 2em;
                        padding: 7px;
                        text-decoration: none;
                        line-height: 3em;
                        @include gentle-gradient($primary-dark);
                    }
    
                    .active {
                        padding: 10px;
                        text-decoration: underline;
                        @include gentle-gradient($primary-light);
                    }
                }
            }
        }
    }

    .article-list {
        text-align: center;
        flex-direction: column;
        flex: 2;

        .article-preview {
            display: inline-block;
            text-align: left;
            width: 400px;
            height: 200px;
            overflow: hidden;
            margin: 15px;
            padding: 20px;
            border-radius: 2em;
            border: 2px solid $primary;
            @include gentle-gradient($secondary, 0deg);

            @media (max-width: $desktop-width) {
                width: 1% * (2 / 3 * 100);
            }

            .article-heading {
                border-left: 5px solid $primary-light;
                padding: 0 0 0 10px;
                
                .preview-link {
                    color: $primary-dark;
                    text-decoration: none;
                }
            }
    
            .article-meta {
                display: flex;
                align-items: center;
                @include circle-button($primary-dark, $transp, $primary, 45px);
    
                .author-image {
                    border-radius: 50%;
                    width: 50px;
                }
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    text-align: center;

    .page-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px 0 5px;
        text-decoration: none;
        @include circle-anchor($primary-dark, $transp, $primary-light);
    }

    .active {
        @include circle-anchor($primary-light, $transp, $primary, 45px);
    }
}