@import "../_variables.scss";

.the-footer {
    flex: none;
    color: $off-white;
    background-color: $primary-dark;

    a {
        color: $off-white;
    }
}

.attribution {
    font-size: 1em;
}